<?xml version="1.0" encoding="utf-8"?><!--
 @author
 Name: Sigrid Suski & Radek Suski, Sigsiu.NET GmbH
 Email: sobi[at]sigsiu.net
 Url: https://www.Sigsiu.NET

 @copyright Copyright (C) 2006 - 2015 Sigsiu.NET GmbH (https://www.sigsiu.net). All rights reserved.
 @license GNU/GPL Version 3
 This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3
 as published by the Free Software Foundation, and under the additional terms according section 7 of GPL v3.
 See http://www.gnu.org/licenses/gpl.html and https://www.sigsiu.net/licenses.

 This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
-->

<definition>
	<header>
		<title value="TP.CONFIG_SITE_TITLE" />
		<file type="script" filename="bootstrap.tabs" />
        <file type="language" filename="SpTpl.default3"/>
	</header>
	<toolbar title="var:[site_title]" icon="SobiTemplate">
		<button type="apply" task="template.saveConfig" />
		<divider />
		<buttons icon="sitemap" buttons="sections-list" label="TB.SECTIONS" />
		<divider />
		<buttons type="options" dropdown-class="pull-right">
			<button type="url" task="panel" />
			<button type="url" task="config" />
			<button type="url" task="acl" />
			<button type="url" task="extensions.installed" />
            <button type="url" task="template.info" />
			<button type="help" target="_blank" />
		</buttons>
	</toolbar>
	<body>
		<div class="row-fluid">
			<div class="span2" id="SPRightMenu">
				<menu />
			</div>
			<div class="span10">
				<message id="spMessage" />

                <tabs>
                    <tab label="TP.SETTINGS_GENERAL">
                        <div class="row-fluid">
                            <div class="span12">
                                <fieldset label="TP.CONFIG.CSS">
                                    <!-- name="settings[folder.configfile][less=compile][lessfile][variable]" -->
                                    <field type="select" label="TP.CONFIG.CSS_COLOUR" name="settings[config][less][theme][colour-set]" selected="settings.config.less.theme.colour-set" class="input-medium">
                                        <values>
                                            <option value="sobipro" />
                                            <option value="cornfield" />
                                            <option value="cornflower" />
                                            <option value="malva" />
                                            <option value="meadow" />
                                            <option value="poppyseed" />
                                            <option value="roses" />
                                            <option value="blackwidow" />
                                        </values>
                                    </field>
                                    <field type="select" label="TP.CONFIG.CSS_EDGE" name="settings[config][less][theme][corners]" selected="settings.config.less.theme.corners" class="input-medium">
                                        <values>
                                            <option value="rounded" />
                                            <option value="angular" />
                                        </values>
                                    </field>
                                    <field type="select" label="TP.CONFIG.HIDECATEGORIES" name="settings[config][general][hidecategories]" selected="settings.config.general.hidecategories" class="input-medium">
                                        <values>
                                            <option value="show" label="SHOW_YES" />
                                            <option value="hide" label="SHOW_NO" />
                                        </values>
                                    </field>
                                </fieldset>
                                <fieldset label="TP.CONFIG.RSS">
                                    <field type="select" label="TP.CONFIG.LST_ENTRIESLIMIT" name="settings[feeds.rss][section-view][entries_limit]" selected="settings.feeds-rss.section-view.entries_limit" class="input-mini"> <!-- SobiPro setting! -->
                                        <values>
                                            <option value="1" label="1" />
                                            <option value="3" label="3" />
                                            <option value="5" label="5" />
                                            <option value="10" label="10" />
                                            <option value="15" label="15" />
                                        </values>
                                    </field>
                                    <field type="toggle" name="settings[feeds.rss][section-view][entries_recursive]" value="settings.feeds-rss.section-view.entries_recursive" label="TP.CONFIG.LST_RECURSIVE" prefix="yes_no" /> <!-- SobiPro setting! -->
                                    <field type="select" label="TP.CONFIG.LST_ORDERING" name="settings[feeds.rss][section-view][entries-ordering]" selected="settings.feeds-rss.section-view.entries-ordering" class="input-large"> <!-- SobiPro setting! -->
                                        <values>
                                            <option value="createdTime.desc" label="EMN_ORDER_BY_CREATION_DATE_DESC" />
                                            <option value="updatedTime.desc" label="EMN_ORDER_BY_UPDATE_DATE_DESC" />
                                        </values>
                                    </field>
                                </fieldset>
                                <fieldset label="TP.CONFIG.ENTRIES">
                                    <field type="toggle" name="settings[config][general][noimage]" value="settings.config.general.noimage" label="TP.CONFIG.ENTRIES_NOIMG" prefix="yes_no" />
                                    <field type="select" label="TP.CONFIG.ENTRIES_IMGSIZESMALL" name="settings[config][less][theme][small-image]" selected="settings.config.less.theme.small-image" class="input-medium">
                                        <values>
                                            <option value="inherit" label="inherit" />
                                            <option value="80px" label="80px" />
                                            <option value="100px" label="100px" />
                                            <option value="120px" label="120px" />
                                            <option value="150px" label="150px" />
                                            <option value="180px" label="180px" />
                                            <option value="200px" label="200px" />
                                            <option value="250px" label="250px" />
                                        </values>
                                    </field>
                                </fieldset>
                            </div>
                        </div>
                    </tab>

                    <tab label="TP.SETTINGS_ENTRY">
                        <div class="row-fluid">
                            <div class="span12">

                                <fieldset>
                                    <!-- name="settings[folder.configfile][task][setting]" value="settings.folder-configfile.task.setting" -->
                                    <field type="select" label="TP.CONFIG.ENTRY_CSS_CLASS" name="settings[entry.edit][entry-edit][form-class]" selected="settings.entry-edit.entry-edit.form-class" class="input-large">
                                        <values>
                                            <option value="inline" label="TP.CONFIG.ENTRY_CSS_CLASS_INLINE" />
                                            <option value="horizontal" label="TP.CONFIG.ENTRY_CSS_CLASS_HORIZONTAL" />
                                        </values>
                                    </field>
                                    <field type="toggle" name="settings[entry.edit][entry-edit][required-star]" value="settings.entry-edit.entry-edit.required-star" label="TP.CONFIG.ENTRY_STAR" prefix="yes_no" />
                                    <field type="select" label="TP.CONFIG.ENTRY_HELPPOSITION" name="settings[entry.edit][entry-edit][help-position]" selected="settings.entry-edit.entry-edit.help-position" class="input-medium">
                                        <values>
                                            <option value="popup" label="TP.CONFIG.ENTRY_HELPPOSITION_POPUP" />
                                            <option value="above" label="TP.CONFIG.ENTRY_HELPPOSITION_ABOVE" />
                                            <option value="below" label="TP.CONFIG.ENTRY_HELPPOSITION_BELOW" />
                                        </values>
                                    </field>
                                </fieldset>
                            </div>
                        </div>
                    </tab>

<!--
                    <tab label="TP.SETTINGS_SEARCH">
                        <div class="row-fluid">
                            <div class="span12">
                                <fieldset>
                                </fieldset>
                            </div>
                        </div>
                    </tab>
-->
<!--
                    <tab label="TP.SETTINGS_DETAILS">
                        <div class="row-fluid">
                            <div class="span12">
                                <fieldset>
                                </fieldset>
                            </div>
                        </div>
                    </tab>
-->

                    <tab label="TP.SETTINGS_VIEW">
                        <div class="row-fluid">
                            <div class="span12">
                            <fieldset>
                                <field type="toggle" name="settings[config][general][countentries]" value="settings.config.general.countentries" label="TP.CONFIG.LST_COUNT" prefix="yes_no" />

                            </fieldset>

                            <fieldset label="TP.CONFIG.SECTION">
                                    <field type="select" label="TP.CONFIG.LST_ENTRIESLIMIT" name="settings[config][section-view][entries_limit]" selected="settings.config.section-view.entries_limit" class="input-mini"> <!-- SobiPro setting! -->
                                        <values>
                                            <option value="1" label="1" />
                                            <option value="2" label="2" />
                                            <option value="3" label="3" />
                                            <option value="4" label="4" />
                                            <option value="5" label="5" />
                                            <option value="6" label="6" />
                                            <option value="8" label="8" />
                                            <option value="10" label="10" />
                                            <option value="15" label="15" />
                                            <option value="20" label="20 (not recommended)" />
                                        </values>
                                    </field>
                                    <field type="select" label="TP.CONFIG.LST_ENTRIESINLINE" name="settings[config][section-view][entries_in_line]" selected="settings.config.section-view.entries_in_line" class="input-mini">
                                        <values>
                                            <option value="1" label="1" />
                                            <option value="2" label="2" />
                                            <option value="3" label="3" />
                                            <option value="4" label="4" />
                                            <option value="5" label="5" />
                                        </values>
                                    </field>
                                    <field type="toggle" name="settings[config][section-view][entries_recursive]" value="settings.config.section-view.entries_recursive" label="TP.CONFIG.LST_RECURSIVE" prefix="yes_no" /> <!-- SobiPro setting! -->
                                </fieldset>
                                <fieldset label="TP.CONFIG.CAT">
                                    <field type="select" label="TP.CONFIG.LST_ENTRIESLIMIT" name="settings[config][category-view][entries_limit]" selected="settings.config.category-view.entries_limit" class="input-mini"> <!-- SobiPro setting! -->
                                        <values>
                                            <option value="1" label="1" />
                                            <option value="2" label="2" />
                                            <option value="3" label="3" />
                                            <option value="4" label="4" />
                                            <option value="5" label="5" />
                                            <option value="6" label="6" />
                                            <option value="8" label="8" />
                                            <option value="10" label="10" />
                                            <option value="15" label="15" />
                                            <option value="20" label="20 (not recommended)" />
                                        </values>
                                    </field>
                                    <field type="select" label="TP.CONFIG.LST_ENTRIESINLINE" name="settings[config][category-view][entries_in_line]" selected="settings.config.category-view.entries_in_line" class="input-mini">
                                        <values>
                                            <option value="1" label="1" />
                                            <option value="2" label="2" />
                                            <option value="3" label="3" />
                                            <option value="4" label="4" />
                                            <option value="5" label="5" />
                                        </values>
                                    </field>
                                    <field type="toggle" name="settings[config][category-view][entries_recursive]" value="settings.config.category-view.entries_recursive" label="TP.CONFIG.LST_RECURSIVE" prefix="yes_no" /> <!-- SobiPro setting! -->
                                    <field type="select" label="TP.CONFIG.LST_ORDERING" name="settings[config][category-view][entries_ordering]" selected="settings.config.category-view.entries_ordering" class="input-large"> <!-- SobiPro setting! -->
                                        <values>
                                            <option value="position.asc" label="SECN.CFG.ENTRY_ORDER_BY_POSITION_ASCENDING" />
                                            <option value="position.desc" label="SECN.CFG.ENTRY_ORDER_BY_POSITION_DESCENDING" />
                                            <option value="counter.asc" label="SECN.CFG.ENTRY_ORDER_BY_POPULARITY_ASCENDING" />
                                            <option value="counter.desc" label="SECN.CFG.ENTRY_ORDER_BY_POPULARITY_DESCENDING" />
                                            <option value="createdTime.asc" label="SECN.CFG.ENTRY_ORDER_BY_CREATION_DATE_ASC" />
                                            <option value="createdTime.desc" label="SECN.CFG.ENTRY_ORDER_BY_CREATION_DATE_DESC" />
                                            <option value="updatedTime.asc" label="SECN.CFG.ENTRY_ORDER_BY_UPDATE_DATE_ASC" />
                                            <option value="updatedTime.desc" label="SECN.CFG.ENTRY_ORDER_BY_UPDATE_DATE_DESC" />
                                            <option value="validUntil.asc" label="SECN.CFG.ENTRY_ORDER_BY_EXPIRATION_DATE_ASC" />
                                            <option value="validUntil.desc" label="SECN.CFG.ENTRY_ORDER_BY_EXPIRATION_DATE_DESC" />
                                            <option value="RAND()" label="Random" />
                                        </values>
                                    </field>
                                </fieldset>
                                <fieldset label="TP.CONFIG.LIST">
                                    <field type="select" label="TP.CONFIG.LST_ENTRIESLIMIT" name="settings[config][general][entries_limit]" selected="settings.config.general.entries_limit" class="input-mini"> <!-- SobiPro setting! -->
                                        <values>
                                            <option value="1" label="1" />
                                            <option value="2" label="2" />
                                            <option value="3" label="3" />
                                            <option value="4" label="4" />
                                            <option value="5" label="5" />
                                            <option value="6" label="6" />
                                            <option value="8" label="8" />
                                            <option value="10" label="10" />
                                            <option value="15" label="15" />
                                            <option value="20" label="20 (not recommended)" />
                                        </values>
                                    </field>
                                    <field type="select" label="TP.CONFIG.LST_ENTRIESINLINE" name="settings[config][general][entries_in_line]" selected="settings.config.general.entries_in_line" class="input-mini">
                                        <values>
                                            <option value="1" label="1" />
                                            <option value="2" label="2" />
                                            <option value="3" label="3" />
                                            <option value="4" label="4" />
                                            <option value="5" label="5" />
                                        </values>
                                    </field>
                                    <field type="toggle" name="settings[config][general][entries_recursive]" value="settings.config.general.entries_recursive" label="TP.CONFIG.LST_RECURSIVE" prefix="yes_no" /> <!-- SobiPro setting! -->
                                    <field type="select" label="TP.CONFIG.LST_ORDERING" name="settings[config][general][entries_ordering]" selected="settings.config.general.entries_ordering" class="input-large"> <!-- SobiPro setting! -->
                                        <values>
                                            <option value="position.asc" label="SECN.CFG.ENTRY_ORDER_BY_POSITION_ASCENDING" />
                                            <option value="position.desc" label="SECN.CFG.ENTRY_ORDER_BY_POSITION_DESCENDING" />
                                            <option value="counter.asc" label="SECN.CFG.ENTRY_ORDER_BY_POPULARITY_ASCENDING" />
                                            <option value="counter.desc" label="SECN.CFG.ENTRY_ORDER_BY_POPULARITY_DESCENDING" />
                                            <option value="createdTime.asc" label="SECN.CFG.ENTRY_ORDER_BY_CREATION_DATE_ASC" />
                                            <option value="createdTime.desc" label="SECN.CFG.ENTRY_ORDER_BY_CREATION_DATE_DESC" />
                                            <option value="updatedTime.asc" label="SECN.CFG.ENTRY_ORDER_BY_UPDATE_DATE_ASC" />
                                            <option value="updatedTime.desc" label="SECN.CFG.ENTRY_ORDER_BY_UPDATE_DATE_DESC" />
                                            <option value="validUntil.asc" label="SECN.CFG.ENTRY_ORDER_BY_EXPIRATION_DATE_ASC" />
                                            <option value="validUntil.desc" label="SECN.CFG.ENTRY_ORDER_BY_EXPIRATION_DATE_DESC" />
                                            <option value="RAND()" label="Random" />
                                        </values>
                                    </field>
                                </fieldset>
                            </div>
                        </div>
                    </tab>

                    <tab label="TP.SETTINGS_APPS">
                        <fieldset label="TP.CONFIG.APPRAR" condition="apps.review_rating">
                            <field type="select" condition="apps.review_rating" label="TP.CONFIG.APPRAR_STAR" name="settings[config][less][review][stars]" selected="settings.config.less.review.stars" class="input-medium">
                                <values>
                                    <option value="gold-grey" />
                                    <option value="gold-black" />
                                    <option value="orange-grey" />
                                    <option value="orange-black" />
                                    <option value="red-grey" />
                                    <option value="red-black" />
                                    <option value="darkred-grey" />
                                    <option value="darkred-black" />
                                    <option value="green-grey" />
                                    <option value="green-black" />
                                    <option value="blue-grey" />
                                    <option value="blue-black" />
                                    <option value="darkblue-grey" />
                                    <option value="darkblue-black" />
                                    <option value="magenta-grey" />
                                    <option value="magenta-black" />
                                    <option value="cyan-grey" />
                                    <option value="cyan-black" />
                                </values>
                            </field>
                        </fieldset>
                        <fieldset label="TP.CONFIG.APPCOL" condition="apps.collection">
                            <field type="select" condition="apps.collection" label="TP.CONFIG.APPCOL_NO" name="settings[config][collection][entries_limit]" selected="settings.config.collection.entries_limit" class="input-mini">
                                <values>
                                    <option value="2" label="2" />
                                    <option value="3" label="3" />
                                    <option value="4" label="4" />
                                    <option value="5" label="5" />
                                    <option value="6" label="6" />
                                    <option value="8" label="8" />
                                    <option value="10" label="10" />
                                </values>
                            </field>
                        </fieldset>
                        <fieldset label="Profile Field" condition="apps.profile_field">
                            <field type="select" label="TP.CONFIG.APPPROFILE_DV" name="settings[config][entry-details][entries_in_line]" selected="settings.config.entry-details.entries_in_line" class="input-mini">
                                <values>
                                    <option value="1" label="1" />
                                    <option value="2" label="2" />
                                    <option value="3" label="3" />
                                    <option value="4" label="4" />
                                    <option value="5" label="5" />
                                </values>
                            </field>
                        </fieldset>
                    </tab>
                </tabs>
            </div>
		</div>
	</body>
	<config>
		<action value="index.php" />
		<hidden>
			<field name="option" default="com_sobipro" />
			<field name="task" default="" />
			<field name="method" default="xhr" />
			<field name="format" default="raw" />
			<field name="pid" value="pid" />
            <field name="settings[config][general][bs]" default="bs3" />
            <field condition="apps.review_rating" name="settings[config][less][review][bsversion]" default="bs3" />
		</hidden>
	</config>
</definition>
