# @version: $Id: .htaccess 1530 2011-06-27 11:15:35Z Radek Suski $
# @package: SobiPro Component for Joomla!
# ===================================================
# @author
# Name: Sigrid Suski & Radek Suski, Sigsiu.NET GmbH
# Email: sobi[at]sigsiu.net
# Url: http://www.Sigsiu.NET
# ===================================================
# @copyright Copyright (C) 2006 - 2011 Sigsiu.NET (http://www.sigsiu.net). All rights reserved.
# @license see http://www.gnu.org/licenses/gpl.html GNU/GPL Version 3.
# You can use, redistribute this file and/or modify it under the terms of the GNU General Public License version 3
# ===================================================
# $Date: 2011-06-27 13:15:35 +0200 (Mon, 27 Jun 2011) $
# $Revision: 1530 $
# $Author: Radek Suski $
# $HeadURL: https://svn.suski.eu/SobiPro/Component/trunk/Site/usr/templates/front/.htaccess $

<FilesMatch "\.(ini|xml|xsl|php)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>