<?xml version="1.0" encoding="utf-8"?><!--
 @author
 Name: Sigrid Suski & Radek Suski, Sigsiu.NET GmbH
 Email: sobi[at]sigsiu.net
 Url: https://www.Sigsiu.NET

 @copyright Copyright (C) 2006 - 2015 Sigsiu.NET GmbH (https://www.sigsiu.net). All rights reserved.
 @license GNU/GPL Version 3
 This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3
 as published by the Free Software Foundation, and under the additional terms according section 7 of GPL v3.
 See http://www.gnu.org/licenses/gpl.html and https://www.sigsiu.net/licenses.

 This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
-->

<definition>
	<header>
		<title value="TP.CONFIG_SITE_TITLE" />
		<file type="script" filename="bootstrap.tabs" />
        <file type="language" filename="SpTpl.default3"/>
	</header>
	<toolbar title="var:[site_title]" icon="SobiTemplate">
		<button type="apply" task="template.saveConfig" />
		<divider />
		<buttons icon="sitemap" buttons="sections-list" label="TB.SECTIONS" />
		<divider />
		<buttons type="options" dropdown-class="pull-right">
			<button type="url" task="panel" />
			<button type="url" task="config" />
			<button type="url" task="acl" />
			<button type="url" task="extensions.installed" />
            <button type="url" task="template.info" />
			<button type="help" target="_blank" />
		</buttons>
	</toolbar>
	<body>
		<div class="row-fluid">
			<div class="span2" id="SPRightMenu">
				<menu />
			</div>
			<div class="span10">
				<message id="spMessage" />

                <tabs>
                    <tab label="FMN.CONFIG_GENERAL">>
                        <div class="row-fluid">
                            <div class="span12">
                                <fieldset label="FMN.FIELD_CSS">
                                    <field type="select" label="Colour theme" name="settings[less][theme][colour-set]" selected="settings.less.theme.colour-set" class="input-medium">
                                        <values>
                                            <option value="sobipro" />
                                            <option value="cornfield" />
                                            <option value="cornflower" />
                                            <option value="malva" />
                                            <option value="meadow" />
                                            <option value="poppyseed" />
                                            <option value="roses" />
                                            <option value="blackwidow" />
                                        </values>
                                    </field>
                                    <field type="select" label="Edge design" name="settings[less][theme][corners]" selected="settings.less.theme.corners" class="input-medium">
                                        <values>
                                            <option value="rounded" />
                                            <option value="angular" />
                                        </values>
                                    </field>
                                </fieldset>
                                <fieldset label="FMN.FIELD_APPS" condition="apps.review_rating">
                                    <field type="select" condition="apps.review_rating" label="Star colour" name="settings[less][review][stars]" selected="settings.less.review.stars" class="input-medium">
                                        <values>
                                            <option value="gold-grey" />
                                            <option value="gold-black" />
                                            <option value="orange-grey" />
                                            <option value="orange-black" />
                                            <option value="red-grey" />
                                            <option value="red-black" />
                                            <option value="darkred-grey" />
                                            <option value="darkred-black" />
                                            <option value="green-grey" />
                                            <option value="green-black" />
                                            <option value="blue-grey" />
                                            <option value="blue-black" />
                                            <option value="darkblue-grey" />
                                            <option value="darkblue-black" />
                                            <option value="magenta-grey" />
                                            <option value="magenta-black" />
                                            <option value="cyan-grey" />
                                            <option value="cyan-black" />
                                        </values>
                                    </field>
                                </fieldset>
                            </div>
                        </div>
                    </tab>
                <!--
                    <tab label="FMN.FIELD_GENERAL">
                        <div class="row-fluid">
                            <div class="span12">
                                <fieldset label="TP.SETTINGS">
                                    <field type="toggle" name="settings[general][something-class]" value="settings.general.something-class" label="Something" prefix="yes_no" />
                                </fieldset>

                            </div>
                        </div>
                    </tab>
                -->
                    <tab label="TP.SETTINGS_ENTRY">
                        <div class="row-fluid">
                            <div class="span12">

                                <fieldset label="TP.SETTINGS_ENTRY">
                                    <field type="select" label="TP.CONFIG.ENTRY_CSS_CLASS" name="settings[entry-edit][form-class]" selected="settings.entry-edit.form-class" class="input-large">
                                        <values>
                                            <option value="inline" label="TP.CONFIG.ENTRY_CSS_CLASS_INLINE" />
                                            <option value="horizontal" label="TP.CONFIG.ENTRY_CSS_CLASS_HORIZONTAL" />
                                        </values>
                                    </field>
                                    <field type="toggle" name="settings[entry-edit][required-star]" value="settings.entry-edit.required-star" label="TP.CONFIG.ENTRY_STAR" prefix="yes_no" />
                                    <field type="select" label="TP.CONFIG.ENTRY_HELPPOSITION" name="settings[entry-edit][help-position]" selected="settings.entry-edit.help-position" class="input-medium">
                                        <values>
                                            <option value="popup" label="TP.CONFIG.ENTRY_HELPPOSITION_POPUP" />
                                            <option value="above" label="TP.CONFIG.ENTRY_HELPPOSITION_ABOVE" />
                                            <option value="below" label="TP.CONFIG.ENTRY_HELPPOSITION_BELOW" />
                                        </values>
                                    </field>
                                </fieldset>
                            </div>
                        </div>
                    </tab>

<!--
                    <tab label="TP.SETTINGS_SEARCH">
                        <div class="row-fluid">
                            <div class="span12">
                                <fieldset label="TP.SETTINGS_DETAILS">
                                </fieldset>
                            </div>
                        </div>
                    </tab>
-->
<!--
                    <tab label="TP.SETTINGS_DETAILS">
                        <div class="row-fluid">
                            <div class="span12">
                                <fieldset label="TP.SETTINGS_DETAILS">
                                </fieldset>
                            </div>
                        </div>
                    </tab>
-->

                    <tab label="FMN.FIELD_VIEW">
                        <div class="row-fluid">
                            <div class="span12">

                            <fieldset label="FMN.FIELD_SEC">
                                    <field type="select" label="TP.CONFIG.LST_ENTRIESLIMIT" name="settings[section-view][entries_limit]" selected="settings.section-view.entries_limit" class="input-mini"> <!-- SobiPro setting! -->
                                        <values>
                                            <option value="1" label="1" />
                                            <option value="2" label="2" />
                                            <option value="3" label="3" />
                                            <option value="4" label="4" />
                                            <option value="5" label="5" />
                                            <option value="6" label="6" />
                                            <option value="8" label="8" />
                                            <option value="10" label="10" />
                                            <option value="15" label="15" />
                                            <option value="20" label="20 (not recommended)" />
                                        </values>
                                    </field>
                                    <field type="select" label="TP.CONFIG.LST_ENTRIESINLINE" name="settings[section-view][entries_in_line]" selected="settings.section-view.entries_in_line" class="input-mini">
                                        <values>
                                            <option value="1" label="1" />
                                            <option value="2" label="2" />
                                            <option value="3" label="3" />
                                            <option value="4" label="4" />
                                            <option value="5" label="5" />
                                        </values>
                                    </field>
                                    <field type="toggle" name="settings[section-view][entries_recursive]" value="settings.section-view.entries_recursive" label="TP.CONFIG.LST_RECURSIVE" prefix="yes_no" /> <!-- SobiPro setting! -->
                                </fieldset>
                                <fieldset label="FMN.FIELD_CAT">
                                    <field type="select" label="TP.CONFIG.LST_ENTRIESLIMIT" name="settings[category-view][entries_limit]" selected="settings.category-view.entries_limit" class="input-mini"> <!-- SobiPro setting! -->
                                        <values>
                                            <option value="1" label="1" />
                                            <option value="2" label="2" />
                                            <option value="3" label="3" />
                                            <option value="4" label="4" />
                                            <option value="5" label="5" />
                                            <option value="6" label="6" />
                                            <option value="8" label="8" />
                                            <option value="10" label="10" />
                                            <option value="15" label="15" />
                                            <option value="20" label="20 (not recommended)" />
                                        </values>
                                    </field>
                                    <field type="select" label="TP.CONFIG.LST_ENTRIESINLINE" name="settings[category-view][entries_in_line]" selected="settings.category-view.entries_in_line" class="input-mini">
                                        <values>
                                            <option value="1" label="1" />
                                            <option value="2" label="2" />
                                            <option value="3" label="3" />
                                            <option value="4" label="4" />
                                            <option value="5" label="5" />
                                        </values>
                                    </field>
                                    <field type="toggle" name="settings[category-view][entries_recursive]" value="settings.category-view.entries_recursive" label="TP.CONFIG.LST_RECURSIVE" prefix="yes_no" /> <!-- SobiPro setting! -->
                                </fieldset>
                                <fieldset label="FMN.FIELD_LIST">
                                    <field type="select" label="TP.CONFIG.LST_ENTRIESLIMIT" name="settings[general][entries_limit]" selected="settings.general.entries_limit" class="input-mini"> <!-- SobiPro setting! -->
                                        <values>
                                            <option value="1" label="1" />
                                            <option value="2" label="2" />
                                            <option value="3" label="3" />
                                            <option value="4" label="4" />
                                            <option value="5" label="5" />
                                            <option value="6" label="6" />
                                            <option value="8" label="8" />
                                            <option value="10" label="10" />
                                            <option value="15" label="15" />
                                            <option value="20" label="20 (not recommended)" />
                                        </values>
                                    </field>
                                    <field type="select" label="TP.CONFIG.LST_ENTRIESINLINE" name="settings[general][entries_in_line]" selected="settings.general.entries_in_line" class="input-mini">
                                        <values>
                                            <option value="1" label="1" />
                                            <option value="2" label="2" />
                                            <option value="3" label="3" />
                                            <option value="4" label="4" />
                                            <option value="5" label="5" />
                                        </values>
                                    </field>
                                    <field type="toggle" name="settings[general][entries_recursive]" value="settings.general.entries_recursive" label="TP.CONFIG.LST_RECURSIVE" prefix="yes_no" /> <!-- SobiPro setting! -->
                                </fieldset>
                            </div>
                        </div>
                    </tab>
                </tabs>
            </div>
		</div>
	</body>
	<config>
		<action value="index.php" />
		<hidden>
			<field name="option" default="com_sobipro" />
			<field name="task" default="" />
			<field name="method" default="xhr" />
			<field name="format" default="raw" />
			<field name="pid" value="pid" />
		</hidden>
	</config>
</definition>
