.SobiPro {
  color: #333333;
  font-size: 15px;
}
.SobiPro .breadcrumb {
  padding: 7px 14px;
  margin: 0 0 18px;
  list-style: none;
  background-color: #FBFBFB;
  background-image: -moz-linear-gradient(top, #ffffff, whiteSmoke);
  background-image: -ms-linear-gradient(top, #ffffff, whiteSmoke);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(whiteSmoke));
  background-image: -webkit-linear-gradient(top, #ffffff, whiteSmoke);
  background-image: -o-linear-gradient(top, #ffffff, whiteSmoke);
  background-image: linear-gradient(top, #ffffff, whiteSmoke);
  background-repeat: repeat-x;
  border: 1px solid #DDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 6px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 white;
}
#SPAdmToolbar .dropdown-menu .SpDropDownBt li {
  min-width: 150px;
}
.SobiPro .btn-group {
  font-size: 0;
  white-space: normal;
}
.SobiPro .breadcrumb .divider {
  padding: 0 5px;
  color: #999999;
}
.SobiPro .breadcrumb .active a {
  color: #333333;
}
#toolbar-box {
  display: none;
}
.SobiPro .table th.SpCellCenter,
.SobiPro .table td.SpCellCenter {
  text-align: center;
}
.submenu-box,
div.m {
  background-color: #ffffff;
}
#SPAdmToolbar .nav {
  margin-bottom: 0px;
}
#SPAdmToolbar .container-fluid {
  padding: 0;
}
#SPAdmToolbar .container-fluid [class*="span"] {
  margin-left: 0px;
}
#SPAdmToolbar .nav-pills > .active > a,
#SPAdmToolbar .SobiPro .nav-pills > .active > a:hover {
  color: inherit;
  background-color: whiteSmoke;
}
#SPAdmToolbar .spIconBar {
  padding-top: 8px;
  height: 45px;
}
div.spScreenTitle,
div.spScreenSubHead {
  background-repeat: no-repeat;
  height: 45px;
}
div.spScreenSubHead {
  font-weight: bold;
  font-size: 16px;
}
div.spScreenTitle:first-child,
div.spScreenSubHead:first-child {
  padding-left: 55px;
}
div.spScreenTitle h4 {
  margin-top: 14px;
}
#SPAdmToolbar .btn-group {
  float: left;
}
#SPAdmToolbar .btn {
  float: left;
}
#SPAdmToolbar .dropdown-menu .SpDropDownBt li {
  min-width: 150px;
}
#SPAdmToolbar .dropdown-menu .SpDropDownBt li a:hover {
  background-color: #0088cc;
}
#SPAdmToolbar .divider {
  padding: 0 5px;
  color: #999;
  float: left;
  display: block;
  margin: 0.2pt;
}
#SPAdmToolbar .nav-header {
  white-space: nowrap;
}
#SPAdminForm table .control-label {
  padding-top: 5px;
  color: #000099;
}
#SPAdminForm table a {
  color: #000099;
}
#SPAdminForm fieldset .control-label {
  padding-top: 0px;
  width: 200px;
}
#SPAdmNavBar .control-group {
  float: left;
  padding-left: 12px;
}
#SPAdminForm .spFieldGroup {
  margin-bottom: 0px;
}
#SPAdminForm .spFieldGroup label {
  color: #993333;
  border-bottom: 1px solid #CC9999;
  margin-left: 20px;
  width: 180px;
}
#SPAdminForm fieldset .controls {
  margin-left: 220px;
}
#SPAdminForm .nav-tabs a {
  color: #000099;
  /*#0088cc;*/

  text-decoration: none;
}
#SPAdminForm .nav-tabs a:hover {
  color: #000099;
  /*#005580;*/

}
#SPAdminForm .controls .btn:active,
#SPAdminForm .controls .btn.active {
  background-color: #993333;
  color: #f5f5f5;
}
.btn-sobipro {
  color: #f5f5f5;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #a83939;
  *background-color: #993333;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d31010), to(#993333));
  background-image: -webkit-linear-gradient(top, #d31010, #993333);
  background-image: -o-linear-gradient(top, #d31010, #993333);
  background-image: linear-gradient(to bottom, #d31010, #993333);
  background-image: -moz-linear-gradient(top, #d31010, #993333);
  background-repeat: repeat-x;
  border-color: #993333 #993333 #660000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffd31010', endColorstr='#ff993333', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-sobipro:hover,
.btn-sobipro:active,
.btn-sobipro.active,
.btn-sobipro.disabled,
.btn-sobipro[disabled] {
  color: #f5f5f5;
  background-color: #993333;
  *background-color: #990000;
}
.btn-sobipro:active,
.btn-sobipro.active {
  background-color: #003399 \9;
}
.btn-group.open .btn-sobipro.dropdown-toggle {
  background-color: #993333;
}
.btn-sobipro .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
#SPAdminForm input,
#SPAdminForm textarea,
#SPAdminForm select,
#SPAdminForm .uneditable-input {
  color: #666666;
}
#SPAdminForm .input-splarge {
  width: 400px;
}
#SPAdminForm .nav-tabs .active a {
  font-weight: bold;
  color: #555555;
}
.btn-sobipro.active {
  color: rgba(255, 255, 255, 0.75);
}
input.sp-input-micro[type="text"] {
  width: 25px;
  text-align: center;
}
.spOutput {
  min-height: 23px;
  padding-top: 5px;
}
.sp-mini-bt {
  width: 25px;
  height: 20px;
  padding: 0px !important;
}
.spScreenSubHead {
  padding: 10px;
}
.spicon-48-SobiPro {
  background-image: url(../../../../media/sobipro/48x48/folder-sobipro.png);
}
.spicon-48-SobiApplication {
  background-image: url(../../../../media/sobipro/48x48/folder-application.png);
}
.spicon-48-SobiApplicationSection {
  background-image: url(../../../../media/sobipro/48x48/folder-application-section.png);
}
.spicon-48-SobiTemplate {
  background-image: url(../../../../media/sobipro/48x48/folder-templates.png);
}
.spicon-48-SobiTemplateSection {
  background-image: url(../../../../media/sobipro/48x48/folder-template-section.png);
}
.spicon-48-SobiSection {
  background-image: url(../../../../media/sobipro/48x48/folder-section.png);
}
.spicon-48-SobiSectionCfg {
  background-image: url(../../../../media/sobipro/48x48/folder-section-cfg.png);
}
.spicon-48-SobiCategory {
  background-image: url(../../../../media/sobipro/48x48/folder-category.png);
}
.spicon-48-SobiCatList {
  background-image: url(../../../../media/sobipro/48x48/folder-categories.png);
}
.spicon-48-SobiFields {
  background-image: url(../../../../media/sobipro/48x48/folder-fieldsmanager.png);
}
.spicon-48-SobiFieldList {
  background-image: url(../../../../media/sobipro/48x48/fields.png);
}
.spicon-48-SobiConfig {
  background-image: url(../../../../media/sobipro/48x48/folder-configuration.png);
}
.spicon-48-SobiEdit {
  background-image: url(../../../../media/sobipro/48x48/editor.png);
}
.spicon-48-SobiFieldEdit {
  background-image: url(../../../../media/sobipro/48x48/edit-rename.png);
}
.spicon-48-SobiEntries {
  background-image: url(../../../../media/sobipro/48x48/entries.png);
}
.spicon-48-SobiUser {
  background-image: url(../../../../media/sobipro/48x48/sobipro-acl-edit.png);
}
.spicon-48-SobiLevels {
  background-image: url(../../../../media/sobipro/48x48/sobipro-acl.png);
}
.spicon-32-delete {
  background-image: url(../../../../media/sobipro/32x32/delete.png) !important;
}
.spicon-32-download {
  background-image: url(../../../../media/sobipro/32x32/download.png);
}
.spicon-32-list {
  background-image: url(../../../../media/sobipro/32x32/software-update.png);
}
.spicon-32-cleanCache {
  background-image: url(../../../../media/sobipro/32x32/eraser.png);
}
.spicon-32-document-save-all {
  background-image: url(../../../../media/sobipro/32x32/document-save-all.png);
}
.spicon-32-save {
  background-image: url(../../../../media/sobipro/32x32/document-save.png) !important;
}
.spicon-32-help {
  background-image: url(../../../../media/sobipro/32x32/sobipro-help.png) !important;
}
#SPAdmToolbar h3 {
  line-height: 20px;
}
